.mobile-wrapper {
    display: none;
    margin: 0 15px;
    height: 100%;

    #hamburger {
        width: 30px;
        cursor: pointer;
        background-color: transparent;
        opacity: 0;
        animation: backInRight .8s;
        animation-fill-mode: forwards;

        & span {
            z-index: 3;
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #111;
            border-radius: 5px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }
        }

        &.open {
            & span {
                &:nth-child(1) {
                    top: 14px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                    background-color: #000;
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -30px;
                    -webkit-transition: 0.16s ease-in-out;
                    -moz-transition: 0.16s ease-in-out;
                    -o-transition: 0.16s ease-in-out;
                    transition: 0.16s ease-in-out;
                }
                &:nth-child(3) {
                    top: 14px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                    background-color: #000;
                }
            }
        }
    }

    .ham {
        margin-left: auto;
        z-index: 999;
        position: absolute;
        top: 13px;
        right: 15px;
        span {
            font-size: 3rem;
            cursor: pointer;
        }
    }

    ul {
        list-style-type: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;
        // for animation
        opacity: 0;
        height: 0;

        li {
            visibility: hidden;
            transform: translateY(200%);
            margin: 1rem 0;
            font-size: 5rem;
        }
    }

    a {
        color: #222;
        text-decoration: none;
    }
}

@media screen and (max-width: 1200px) {
    .mobile-wrapper {
        display: block;
    }
}
